.but {
    background-color: aqua;
}

.status {
    margin-top: 100px;
    width: 25%;
}

.status-box {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
}

.switch-but {
    width: 35%;
    height: 250px;
}

.switch-box {
    padding-top: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
}