.status {
    margin-top: 100px;
    width: 25%;
}

.status-box {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
}

.doorDiv{
    padding-top: 50px;
    background: rgb(49, 49, 57);
    
}

.switch-but {
    width: 30%;
    height: 200px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#362FD9), to(#1A878F));
    background-image: -webkit-linear-gradient(#28D2DE 0%, #DEFCF9 100%);
    background-image: -moz-linear-gradient(#28D2DE 0%, #85CDFD 100%);
    background-image: -o-linear-gradient(#28D2DE 0%, #3C84AB 100%);
    background-image: linear-gradient(#28D2DE 0%, #362FD9 100%);
    font: 25px Oswald !important;
    /* background: linear-gradient(90deg, rgba(6,79,169,1) 0%, rgba(2,0,36,1) 30%, rgba(22,4,77,1) 58%, rgba(19,18,102,1) 75%, rgba(10,60,175,1) 87%, rgba(0,106,255,1) 100%, rgba(9,9,121,1) 100%); */
}


.navDiv {
    width: 100%;
    padding: 15px;
    
    /* background-image: linear-gradient(#0054ff 0%, #030040 100%); */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#362FD9), to(#1A878F));
    background-image: -webkit-linear-gradient(#28D2DE 0%, #DEFCF9 100%);
    background-image: -moz-linear-gradient(#28D2DE 0%, #85CDFD 100%);
    background-image: -o-linear-gradient(#28D2DE 0%, #3C84AB 100%);
    background-image: linear-gradient(#28D2DE 0%, #362FD9 100%);
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(5,4,77,1) 44%, rgba(6,82,169,1) 80%, rgba(0,33,255,1) 100%, rgba(9,9,121,1) 100%); */
    font: 25px Oswald;
    color: #FFF;
    text-transform: uppercase;
    /* opacity: 0.7; */
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 70%);
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.demo{
    background: rgb(49, 49, 57);
}

.switch-box {
    padding-top: 50px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: rgb(49, 49, 57);  
}

.me-auto{
    gap: 40px;
}

.open-text{
    color: #07dd40;
    font: 40px Oswald;
    text-transform: uppercase;
    text-align: center;
}

.close-text{
    color: #CF0A0A;
    font: 40px Oswald;
    text-transform: uppercase;
    text-align: center;
}


